*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
.gradle
.nyc_output/
coverage
node_modules
bower_components
npm-debug.log
doc/
client/dist/*
*-compiled*
build
/logs/*.log
/public/img/
/public/fonts/
/public/css/
/public/js/
/public/json/assets-map.json
/abacuseditor-cache/
*.mergeme
/src/
npm-debug.log*
/stats.json
/node_modules
/._npm
.npm
